<html>
<head>
	<title>leave application</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />
<link rel="stylesheet" type="text/css" href="static/add.css">
<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" href="vendor/fontawesome/css/font-awesome.min.css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<style >
     .form-control {
    border-radius: 0.75rem;
}
</style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" >
    <div class="container">


      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" style="margin-right: 40px;">
            <a class="nav-link js-scroll-trigger" href= "{{url_for('dashboard')}}" style="color: white;font-family: 'IBM Plex Sans', sans-serif;"><h6>HOME</h6></a>
          </li>

          <li class="nav-item" style="margin-right: 40px;">
            <a class="nav-link js-scroll-trigger" href="{{url_for('about')}}" style="color: white;font-family: 'IBM Plex Sans', sans-serif;"><h6>ABOUT US</h6></a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#" style="color: white;font-family: 'IBM Plex Sans', sans-serif;"><h6>CONTACT</h6></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
   <div class="container register" style="font-family: 'IBM Plex Sans', sans-serif;">
                <div class="row">
                    <div class="col-md-3 register-left" style="margin-top: 10%;right: 5%">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                       <!-- <h3>Welcome, Your Leave application </h3>-->
                          </div>
                    <div class="col-md-9 register-right" style="margin-top: 40px;left: 80px;">

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Leave Apply</h3>
                                <div class="row register-form">
                                <div class="container">

    <form action="leaveapply" method="POST">
        <div class="col-md-6">
        <label>STUDENT ID:</label>
        <input type="number" class="form-control" name="id" required><br>
        <label>LEAVE TYPE:</label>
         <select class="form-control" name="leavetype" id="leavetype">
            <option value="sick_leave">Sick Leave</option>
            <option value="on_duty">on_duty</option>
            <option value="permission">permission</option>
        </select><br>
        <label>START DATE:</label>
        <input type="date" class="form-control" name="start_date" required><br>
        <label>END DATE:</label>
        <input type="date" class="form-control"name="end_date" required><br>
        <label>REASON:</label>
        <textarea name="reason" class="form-control" required></textarea><br>
        <input type="submit" value="Submit Leave">
     </div>
</div>
    </form>
 </body>
</html>
